*{
    margin:0;
    padding: 0;
}
.header{

    padding: 10px;
    background-color:#66A5AD
}
.header__section{
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 100px;
}


.slogan{
    font-size: 30px;
    font-family: Montserrat, sans-serif;
}

.button{
    display: flex;
    justify-content: flex-end;
    align-items: center;


}
.button__item{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #003B46;
    padding: .7em 1.5em;
    outline: none;
     border: 0px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
}

.button__item:hover{
  background: #07575B;
}
.form__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(54 147 162 / 26%);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

}

.form__class{
    display: flex;
    flex-direction: column;
    background-color: #66A5AD;
    width: 350px;
    align-items: center;
    padding-top: 40px;
    border-radius: 10px;
    padding-bottom: 15px;

}


.form-control{
    width: 200px;
    padding: 5px;
    border: none;
    outline: 0;
    box-shadow: 5px 3px 5px #003B46;
    margin-bottom: 10px;
    border-radius: 5px;

}

.button__class{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #003B46;
    padding: .7em 1.5em;
    outline: none;
    border: 0px;
    height: 35px;
    width: 100px;
    border-radius: 50px;
}

.button__class:hover{
    background: #07575B;
}

.no__cards-item{
    display: flex;
    position: absolute;
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    top: 260px;
    left: 29%;


}


.message__text{
    font-family: Montserrat,sans-serif;
    color: firebrick;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 10px;
}

.border__item{
    display: flex;
    justify-content: center;
    position: relative;
}
.main__border{
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    background-color: skyblue;
}

.border__img{

    width: 950px;

}



footer {
    background: #003B46;
    color: white;
    height: 80px;
    grid-area: footer;
    grid-column: line2 / line3;
    grid-row: row3 / row4;
    margin-top: 50px;
}

.text_footer{
    font-family: "Montserrat",SansSerif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
}


#Footer{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 80px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.loader{
    display: none;
    margin: 0;
    padding:0px;
}

.icon__out{
    display: none;
}
.modal-title {
    color: #003B46;
    font-size: 20px;
    padding-bottom: 20px;
}
.cards-container{
    display: inline-block;
    font-family: "Montserrat",SansSerif;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
    cursor: move;
    margin: 10px;
}
.btn {
    border: 2px solid #07575B;
    border-radius: 2px;
    padding: 5px;
    font-weight: bold;
    color: #003B46;
    background-color: #8cbdbe;
}
.btn:hover{
    background-color: #66A5AD;
}


/*"стили для карточек"*/

.display-none {
    display: none;
}
#no-cards {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}
.main {
    margin: 0 auto;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-item {
    margin: 0 20px;
}

#search {
    height: 25px;
}

.select-status, .select-urgency {
    display: block;
}

.select {
    width: 180px;
}

.button-filter__item {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #003B46;
    outline: none;
    border: 0px;
    height: 35px;
    width: 100px;
    border-radius: 50px;
    margin: 0 4px;
}

.button-show__item {
    margin: 0 auto;
    display: block;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container {
    border: 2px solid whitesmoke;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 10px 10px;
    min-width: 200px;
    background-color: #57a4a4;
}